:root {
  display: block;
}

* {
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

label {
  display: inline-block;
}

header {
  background: linear-gradient(to left, #312a91, #9198e5);
}

#header-text {
  text-align: center;
  color: whitesmoke;
  font-size: 2.5rem;
  font-weight: bold;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0.5rem;
}

.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.card-body {
  height: 200px;
}

#search-button {
  background: linear-gradient(to left, #312a91, #9198e5);
}

#main-container {
  max-width: 1000px;
}

#mainWeather {
  border-color: black;
  padding: 0 0.3rem;
}

#main-name {
  font-size: 1.9rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
}

#main-icon {
  width: 50px;
  height: 50px;
}

#main-temp,
#main-wind,
#main-humidity {
  font-size: 1.1rem;
  padding-bottom: 0.5rem;
}
